@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  color: #fff;
  background: #2B2B2B;
}

.main-container {
  @apply max-w-[1440px] px-[20px] md:px-[100px] mx-auto;
}


